## 小任務
請協助我取得自由時報即時新聞第一頁的所有標題, 內文, 連結, 時間 (https://news.ltn.com.tw/list/breakingnews)

In [2]:
import requests
res = requests.get('https://news.ltn.com.tw/list/breakingnews')
#res.text

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [9]:
def parsePage(url):
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    return ''.join([p.text for p in soup.select('.text p')])

In [10]:
newsary = []
for li in soup.select('.list li'):
    title = li.select_one('.title').text
    url = li.select_one('.tit').get('href')
    dt = li.select_one('.time').text
    content = parsePage(url)
    newsary.append({'title': title, 'url': url, 'dt': dt, 'content': content})

In [11]:
len(newsary)

20

In [12]:
newsary[0]

{'title': '武漢肺炎衝擊 KPMG：國內生技醫療業將急起直追！',
 'url': 'https://news.ltn.com.tw/news/business/breakingnews/3102534',
 'dt': '13:50',
 'content': 'KPMG認為，武漢肺炎影響，對於醫療系統、病患照顧及生醫產業將產生打擊，但我國生技醫療業者將可急起直追，提升研發動能 。 （法新社）〔記者巫其倫／台北報導〕武漢肺炎疫情衝擊，造成今年第1季經濟停滯，尤以商業貿易及消費者活動影響最劇，KPMG（安侯建業）認為，對於醫療系統、病患照顧及生醫產業將產生打擊，但預計我國生技醫療業者將可急起直追，提升研發動能。KPMG認為，疫情對中國GDP的影響，將會比SARS的影響更大，依據每日煤電消耗量統計，目前的產業經濟活動仍尚未恢復正常水準；另，根據清華大學經濟管理學院及KPMG分析報告顯示，疫情對商業貿易及消費者活動的負面影響最大，對教育訓練及健康照護的影響最小。報告也預估，第1季中國市場與產業將陷入停滯，第2季將會逐漸回復，直到第3、4季才有可能有反彈。KPMG健康照護與生技產業主持人蘇嘉瑞表示，我國已通過紓困振興特別條例，中國也將於6月實施「基本醫療衛生與健康促進法」，預計將使數位醫療服務系統、分級醫療及基層醫療的強化受惠最深，也將加強疫情的預防及治療、相關藥品及醫材的加速審核，及集中化藥品採購與管理。蘇嘉瑞預估，我國生技醫療業者將因應疫情急起直追提升研發動能，朝檢測試劑、疫苗及治療藥物方向聚焦；至於台灣生醫資通訊（BIO-ITC）則可利用此一機會與場域試行，來發展人工智慧與遠際照護（Tele-healthcare）。他也認為，疫情對醫療系統、病患照顧及生醫產業已產生衝擊，生醫產業的數位化，將有3大改變趨勢。第1，溝通方式改變，因大型聚會取消，轉為線上教育訓練及產品的發表；第2，醫療行為改變，居家隔離期間，如何運用遠距與數位化進行診斷、處方及藥品運送、費用支付，相關法規及體系制度建立，將是未來數位醫療發展重點；第3，醫療生態改變，可望建立醫療大數據與產業資訊的鏈結、線上與實體通路的擴張。\n    不用抽 不用搶 現在用APP看新聞 保證天天中獎\u3000\n    點我下載APP\u3000\n    按我看活動辦法\n'}

In [13]:
import pandas
newsdf = pandas.DataFrame(newsary)

In [15]:
newsdf.head(3)

,content,dt,title,url
0,KPMG認為，武漢肺炎影響，對於醫療系統、病患照顧及生醫產業將產生打擊，但我國生技醫療業者將...,13:50,武漢肺炎衝擊 KPMG：國內生技醫療業將急起直追！,https://news.ltn.com.tw/news/business/breaking...
1,,13:49,後輩遲到找理由笑罵「死囝仔」 李明川上節目林美秀安慰：快樂就好,https://ent.ltn.com.tw/news/breakingnews/3102535
2,,13:49,中職》來台春訓韓職選手發燒虛驚一場 會長：解除警報,https://sports.ltn.com.tw/news/breakingnews/31...

In [16]:
newsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
content    20 non-null object
dt         20 non-null object
title      20 non-null object
url        20 non-null object
dtypes: object(4)
memory usage: 720.0+ bytes

In [17]:
newsdf.to_clipboard()

In [18]:
newsdf.to_excel('ltn.xlsx')

In [19]:
! open ltn.xlsx

## 經濟日報抓取所有頁數

In [20]:
import requests
from bs4 import BeautifulSoup
res = requests.get('https://money.udn.com/rank/newest/1001/0/1')
soup = BeautifulSoup(res.text, 'lxml')

In [22]:
soup.select_one('.total').text

'共 65 頁'

In [23]:
soup.select_one('.total').text.split()

['共', '65', '頁']

In [25]:
int(soup.select_one('.total').text.split()[1])

65

In [29]:
soup.select_one('.total').text.strip('頁').strip('共').strip()

'65'

In [34]:
for i in range(int(soup.select_one('.total').text.split()[1])):
    url = 'https://money.udn.com/rank/newest/1001/0/{}'
    print(url.format(i+1))

https://money.udn.com/rank/newest/1001/0/1
https://money.udn.com/rank/newest/1001/0/2
https://money.udn.com/rank/newest/1001/0/3
https://money.udn.com/rank/newest/1001/0/4
https://money.udn.com/rank/newest/1001/0/5
https://money.udn.com/rank/newest/1001/0/6
https://money.udn.com/rank/newest/1001/0/7
https://money.udn.com/rank/newest/1001/0/8
https://money.udn.com/rank/newest/1001/0/9
https://money.udn.com/rank/newest/1001/0/10
https://money.udn.com/rank/newest/1001/0/11
https://money.udn.com/rank/newest/1001/0/12
https://money.udn.com/rank/newest/1001/0/13
https://money.udn.com/rank/newest/1001/0/14
https://money.udn.com/rank/newest/1001/0/15
https://money.udn.com/rank/newest/1001/0/16
https://money.udn.com/rank/newest/1001/0/17
https://money.udn.com/rank/newest/1001/0/18
https://money.udn.com/rank/newest/1001/0/19
https://money.udn.com/rank/newest/1001/0/20
https://money.udn.com/rank/newest/1001/0/21
https://money.udn.com/rank/newest/1001/0/22
https://money.udn.com/rank/newest/1001/0/23
https://money.udn.com/rank/newest/1001/0/24
https://money.udn.com/rank/newest/1001/0/25
https://money.udn.com/rank/newest/1001/0/26
https://money.udn.com/rank/newest/1001/0/27
https://money.udn.com/rank/newest/1001/0/28
https://money.udn.com/rank/newest/1001/0/29
https://money.udn.com/rank/newest/1001/0/30
https://money.udn.com/rank/newest/1001/0/31
https://money.udn.com/rank/newest/1001/0/32
https://money.udn.com/rank/newest/1001/0/33
https://money.udn.com/rank/newest/1001/0/34
https://money.udn.com/rank/newest/1001/0/35
https://money.udn.com/rank/newest/1001/0/36
https://money.udn.com/rank/newest/1001/0/37
https://money.udn.com/rank/newest/1001/0/38
https://money.udn.com/rank/newest/1001/0/39
https://money.udn.com/rank/newest/1001/0/40
https://money.udn.com/rank/newest/1001/0/41
https://money.udn.com/rank/newest/1001/0/42
https://money.udn.com/rank/newest/1001/0/43
https://money.udn.com/rank/newest/1001/0/44
https://money.udn.com/rank/newest/1001/0/45
https://money.udn.com/rank/newest/1001/0/46
https://money.udn.com/rank/newest/1001/0/47
https://money.udn.com/rank/newest/1001/0/48
https://money.udn.com/rank/newest/1001/0/49
https://money.udn.com/rank/newest/1001/0/50
https://money.udn.com/rank/newest/1001/0/51
https://money.udn.com/rank/newest/1001/0/52
https://money.udn.com/rank/newest/1001/0/53
https://money.udn.com/rank/newest/1001/0/54
https://money.udn.com/rank/newest/1001/0/55
https://money.udn.com/rank/newest/1001/0/56
https://money.udn.com/rank/newest/1001/0/57
https://money.udn.com/rank/newest/1001/0/58
https://money.udn.com/rank/newest/1001/0/59
https://money.udn.com/rank/newest/1001/0/60
https://money.udn.com/rank/newest/1001/0/61
https://money.udn.com/rank/newest/1001/0/62
https://money.udn.com/rank/newest/1001/0/63
https://money.udn.com/rank/newest/1001/0/64
https://money.udn.com/rank/newest/1001/0/65

## 591 資訊抓取

In [36]:
import requests
res = requests.get('https://rent.591.com.tw/?kind=0&region=1&section=5')
#res.text

In [41]:
import requests
headers = {
  'Cookie': '__auc=00cfda7016ae4653031fbc4809e; __utmz=82835026.1558609998.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); _ga=GA1.3.452025852.1558609998; T591_TOKEN=dhpkd9mm88po4m14m7jfu3sv52; _fbp=fb.2.1558610004061.1211475366; is_new_index=1; is_new_index_redirect=1; loginNoticeNumber=3; fcm_pc_token=esqwMHrnHDs%3AAPA91bF5GGz2SV-nIwLj28XWpSzyDT61yAu-pC-JRc9KxgAd2NdXikHlrXPmgN_9ama1_w-vZJBof8j2ScGtbw5qBs9Qx-Mz0q_KymRhi6RF24PoVJvHiAgRip3EN4DSYL1tVFjrr6r2; _ga=GA1.4.452025852.1558609998; __utma=82835026.452025852.1558609998.1566801170.1572601144.8; pt_28697119=uid=lyRMkppNvrACPo412FemhA&nid=0&vid=8EWTYzSWdP80BT9qC0FltA&vn=12&pvn=2&sact=1576573271044&to_flag=0&pl=Af0sEO7Vketzfmkgv4vKBw*pt*1576573271044; user_index_role=2; tw591__privacy_agree=1; lastSearchRequirement=a%3A14%3A%7Bs%3A4%3A%22type%22%3Bs%3A4%3A%22sale%22%3Bs%3A8%3A%22regionid%22%3Bi%3A4%3Bs%3A9%3A%22sectionid%22%3Bi%3A0%3Bs%3A4%3A%22kind%22%3Bi%3A0%3Bs%3A5%3A%22shape%22%3Bi%3A0%3Bs%3A4%3A%22room%22%3Bi%3A0%3Bs%3A4%3A%22area%22%3Bi%3A0%3Bs%3A9%3A%22cartplace%22%3Bi%3A0%3Bs%3A9%3A%22balcony_1%22%3Bi%3A0%3Bs%3A3%3A%22pet%22%3Bi%3A0%3Bs%3A4%3A%22cook%22%3Bi%3A0%3Bs%3A4%3A%22role%22%3Bi%3A0%3Bs%3A8%3A%22newfloor%22%3Bi%3A0%3Bs%3A8%3A%22houseage%22%3Bi%3A0%3B%7D; index_keyword_search_analysis=%7B%22role%22%3A%222%22%2C%22type%22%3A%221%22%2C%22keyword%22%3A%22%E7%B6%A0%E4%B9%8B%E6%B9%96%22%2C%22selectKeyword%22%3A%22%22%2C%22menu%22%3A%22%22%2C%22hasHistory%22%3A1%2C%22hasPrompt%22%3A0%2C%22history%22%3A2%7D; webp=1; PHPSESSID=c0bb2203f41929fafcae35cef617a303; ba_cid=a%3A5%3A%7Bs%3A6%3A%22ba_cid%22%3Bs%3A32%3A%229aa4d4a0ca2b9ce63a23ccd37be07bdb%22%3Bs%3A7%3A%22page_ex%22%3Bs%3A28%3A%22https%3A%2F%2Fnewhouse.591.com.tw%2F%22%3Bs%3A4%3A%22page%22%3Bs%3A28%3A%22https%3A%2F%2Fnewhouse.591.com.tw%2F%22%3Bs%3A7%3A%22time_ex%22%3Bi%3A1583479503%3Bs%3A4%3A%22time%22%3Bi%3A1583479513%3B%7D; user_browse_recent=a%3A5%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7442053%3B%7Di%3A1%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7415346%3B%7Di%3A2%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7339978%3B%7Di%3A3%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7209344%3B%7Di%3A4%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A8%3Bs%3A7%3A%22post_id%22%3Bi%3A120444%3B%7D%7D; _gid=GA1.3.1060225282.1584353623; _gid=GA1.4.1060225282.1584353623; c10f3143a018a0513ebe1e8d27b5391c=1; urlJumpIp=1; new_rent_list_kind_test=0; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; XSRF-TOKEN=eyJpdiI6IjV1UVQwUURPS2p5XC9kN2hrXC9WeEJWZz09IiwidmFsdWUiOiJCVWpvZmxhTTJFYnh2TUdJcWczTFwvZU1DXC9nNWpYZVwvR3ZrT2I3b2dcLzdkVG1VSzQrSzJwR0k3RnNPSGV5ZVB3RWwyazNXMk9cL05BalZtVUN1UjhpcWJnPT0iLCJtYWMiOiI2OTE2YjBmODdlNzUxZDUyZDY2NmQ4NTQyNjFjMjQ5OTQ0MmM5NWI5YmM4MWZjMzJjMDM4MThiNWFjOWM5ZjQ3In0%3D; 591_new_session=eyJpdiI6Imo3ZEVkN2J5TjhnMW9Zb2d6dG5DV3c9PSIsInZhbHVlIjoiZHNwaFNBXC84Nmh1aCtuM2VhWlFXMXdxQVdDSUhjbXpPQWtyNmh2NTBDTkxUMEluSzVnV3ptbVpqNllLOWlyVnlKejhUTHUwWnVsRXZcL1Q0R1drenZnQT09IiwibWFjIjoiMjliMTRlMDgyZmY2OWI4OWJkZDAyZWQ1YmI2NWE5ZmQ1NDQzY2QwZTY0NDFmYjQ3Mjc0ZmQ3ZDZlMzNmNGNlMCJ9',  
  'X-CSRF-TOKEN': 'agCZKMTdcLJpgP7E2S3i4dfzdEHPhCKexnJShJs9'  
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=0&searchtype=1&region=1&section=5&firstRow=90&totalRows=1565', headers = headers)
#res.text
jd = res.json()

In [44]:
import pandas
df = pandas.DataFrame(jd['data']['data'])

In [46]:
df.columns

Index(['addInfo', 'addition2', 'addition3', 'addition4', 'addr_number_name',
       'address', 'address_img', 'address_img_title', 'alley_name', 'allfloor',
       'area', 'balcony_area', 'browsenum', 'browsenum_all', 'browsenum_name',
       'cartplace', 'cases_id', 'cases_name', 'checkstatus', 'closed',
       'comment_class', 'comment_ltime', 'comment_total', 'comment_unread',
       'condition', 'cover', 'distance', 'filename', 'floor', 'floor2',
       'floorInfo', 'fulladdress', 'groundarea', 'hasimg', 'house_img',
       'houseage', 'houseid', 'houseimg', 'housetype', 'icon_class',
       'icon_name', 'id', 'is_combine', 'isvip', 'kind', 'kind_name',
       'kind_name_img', 'lane_name', 'layout', 'layout_str', 'linkman',
       'living', 'ltime', 'mainarea', 'mvip', 'new_img',
       'new_list_comment_total', 'nick_name', 'onepxImg', 'photoNum',
       'photo_alt', 'post_id', 'posttime', 'price', 'price_hide',
       'refreshtime', 'region_name', 'regionid', 'regionname', 'room',
       'search_name', 'section_name', 'sectionid', 'sectionname', 'shape',
       'social_house', 'space_type_str', 'status', 'storeprice', 'street_name',
       'streetid', 'type', 'unit', 'updatetime', 'user_id', 'vipBorder',
       'vipimg', 'vipstyle'],
      dtype='object')

In [47]:
df[['address', 'floor', 'allfloor', 'layout','area', 'price','browsenum_all']]

,address,floor,allfloor,layout,area,price,browsenum_all
0,忠孝東路三段可短租:台北..,8,14,,7.0,"14,000",1287
1,文昌街信義安和捷運..,4,4,,7.0,"12,000",1172
2,大安路一段大安捷運3分鐘..,0,0,類型：機械式,9.0,"4,500",238
3,安和路一段141巷✔超大４..,2,5,4房2廳2衛,37.8,"40,000",564
4,和平東路三段@六張犁捷運..,9,14,4房2廳2衛,53.8,"60,000",413
5,復興南路一段253巷大安捷..,14,14,2房1廳1衛,16.0,"32,000",2120
6,大安路一段52巷東區雙捷運..,5,6,,8.0,"50,000",62
7,和平東路三段~敦化南路2..,8,19,3房2廳2衛,32.0,"60,000",40
8,信義路四段大安捷運站優質..,2,17,,8.0,"20,000",3542
9,永康街23巷近大安公園永康..,1,5,,5.0,"6,800",1475
10,師大路師大路浦城街寬巷少..,0,0,類型：機械式,10.0,"4,800",371
11,信義路三段大安站、師大附..,9,14,,11.6,"24,000",995
12,通化街38巷大安區套房出租..,1,7,,10.0,"17,000",287
13,瑞安街71巷近捷運安靜安全..,4,5,,5.0,"7,000",265
14,泰順街16巷近台電大樓捷運站／師大商圈..,1,4,開放式格局,30.0,"60,000",219
15,建國南路二段39巷森林公園..,1,4,3房2廳3衛,29.8,"44,000",1725
16,復興南路二段90巷正面101..,8,12,,13.6,"26,800",1536
17,復興南路一段126巷忠孝復..,7,11,,10.0,"19,000",1666
18,泰順街40巷近台師大、機能..,4,5,3房1廳1衛,30.0,"30,000",7304
19,杭州南路二段65巷台北市杭..,100,5,,5.0,"7,600",47
20,敦化南路二段可寵!!!敦南..,2,7,,8.0,"24,000",414
21,文昌街可寵!!信義安和站-..,2,3,,5.0,"15,000",1003
22,忠孝東路三段無印風格電梯..,3,14,3房2廳2衛,30.0,"55,000",678
23,四維路敦南商圈遠企正對面,2,4,,5.5,"9,500",493
24,復興南路一段東區商圈捷運..,4,12,2房1廳1衛,30.0,"29,902",3340
25,信義路二段東門捷運管理獨..,3,13,,10.7,"25,800",692
26,復興南路大安復興雙捷寧靜..,11,12,,9.0,"13,800",1567
27,忠孝東路三段217巷台北(..,5,7,1房1廳1衛,21.0,"29,000",615
28,八德路二段10巷捷運忠孝新..,4,5,,13.0,"20,000",1044
29,仁愛路三段123巷視..,7,7,,4.0,"8,500",952

In [ ]:
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=0&searchtype=1&region=1&section=5&firstRow=90&totalRows=1565
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=0&searchtype=1&region=1&section=5&firstRow=120&totalRows=1565

In [50]:
import math
pages = math.ceil(1565 / 30) 
pages

53

In [51]:
import requests
headers = {
  'Cookie': '__auc=00cfda7016ae4653031fbc4809e; __utmz=82835026.1558609998.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); _ga=GA1.3.452025852.1558609998; T591_TOKEN=dhpkd9mm88po4m14m7jfu3sv52; _fbp=fb.2.1558610004061.1211475366; is_new_index=1; is_new_index_redirect=1; loginNoticeNumber=3; fcm_pc_token=esqwMHrnHDs%3AAPA91bF5GGz2SV-nIwLj28XWpSzyDT61yAu-pC-JRc9KxgAd2NdXikHlrXPmgN_9ama1_w-vZJBof8j2ScGtbw5qBs9Qx-Mz0q_KymRhi6RF24PoVJvHiAgRip3EN4DSYL1tVFjrr6r2; _ga=GA1.4.452025852.1558609998; __utma=82835026.452025852.1558609998.1566801170.1572601144.8; pt_28697119=uid=lyRMkppNvrACPo412FemhA&nid=0&vid=8EWTYzSWdP80BT9qC0FltA&vn=12&pvn=2&sact=1576573271044&to_flag=0&pl=Af0sEO7Vketzfmkgv4vKBw*pt*1576573271044; user_index_role=2; tw591__privacy_agree=1; lastSearchRequirement=a%3A14%3A%7Bs%3A4%3A%22type%22%3Bs%3A4%3A%22sale%22%3Bs%3A8%3A%22regionid%22%3Bi%3A4%3Bs%3A9%3A%22sectionid%22%3Bi%3A0%3Bs%3A4%3A%22kind%22%3Bi%3A0%3Bs%3A5%3A%22shape%22%3Bi%3A0%3Bs%3A4%3A%22room%22%3Bi%3A0%3Bs%3A4%3A%22area%22%3Bi%3A0%3Bs%3A9%3A%22cartplace%22%3Bi%3A0%3Bs%3A9%3A%22balcony_1%22%3Bi%3A0%3Bs%3A3%3A%22pet%22%3Bi%3A0%3Bs%3A4%3A%22cook%22%3Bi%3A0%3Bs%3A4%3A%22role%22%3Bi%3A0%3Bs%3A8%3A%22newfloor%22%3Bi%3A0%3Bs%3A8%3A%22houseage%22%3Bi%3A0%3B%7D; index_keyword_search_analysis=%7B%22role%22%3A%222%22%2C%22type%22%3A%221%22%2C%22keyword%22%3A%22%E7%B6%A0%E4%B9%8B%E6%B9%96%22%2C%22selectKeyword%22%3A%22%22%2C%22menu%22%3A%22%22%2C%22hasHistory%22%3A1%2C%22hasPrompt%22%3A0%2C%22history%22%3A2%7D; webp=1; PHPSESSID=c0bb2203f41929fafcae35cef617a303; ba_cid=a%3A5%3A%7Bs%3A6%3A%22ba_cid%22%3Bs%3A32%3A%229aa4d4a0ca2b9ce63a23ccd37be07bdb%22%3Bs%3A7%3A%22page_ex%22%3Bs%3A28%3A%22https%3A%2F%2Fnewhouse.591.com.tw%2F%22%3Bs%3A4%3A%22page%22%3Bs%3A28%3A%22https%3A%2F%2Fnewhouse.591.com.tw%2F%22%3Bs%3A7%3A%22time_ex%22%3Bi%3A1583479503%3Bs%3A4%3A%22time%22%3Bi%3A1583479513%3B%7D; user_browse_recent=a%3A5%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7442053%3B%7Di%3A1%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7415346%3B%7Di%3A2%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7339978%3B%7Di%3A3%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7209344%3B%7Di%3A4%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A8%3Bs%3A7%3A%22post_id%22%3Bi%3A120444%3B%7D%7D; _gid=GA1.3.1060225282.1584353623; _gid=GA1.4.1060225282.1584353623; c10f3143a018a0513ebe1e8d27b5391c=1; urlJumpIp=1; new_rent_list_kind_test=0; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; XSRF-TOKEN=eyJpdiI6IjV1UVQwUURPS2p5XC9kN2hrXC9WeEJWZz09IiwidmFsdWUiOiJCVWpvZmxhTTJFYnh2TUdJcWczTFwvZU1DXC9nNWpYZVwvR3ZrT2I3b2dcLzdkVG1VSzQrSzJwR0k3RnNPSGV5ZVB3RWwyazNXMk9cL05BalZtVUN1UjhpcWJnPT0iLCJtYWMiOiI2OTE2YjBmODdlNzUxZDUyZDY2NmQ4NTQyNjFjMjQ5OTQ0MmM5NWI5YmM4MWZjMzJjMDM4MThiNWFjOWM5ZjQ3In0%3D; 591_new_session=eyJpdiI6Imo3ZEVkN2J5TjhnMW9Zb2d6dG5DV3c9PSIsInZhbHVlIjoiZHNwaFNBXC84Nmh1aCtuM2VhWlFXMXdxQVdDSUhjbXpPQWtyNmh2NTBDTkxUMEluSzVnV3ptbVpqNllLOWlyVnlKejhUTHUwWnVsRXZcL1Q0R1drenZnQT09IiwibWFjIjoiMjliMTRlMDgyZmY2OWI4OWJkZDAyZWQ1YmI2NWE5ZmQ1NDQzY2QwZTY0NDFmYjQ3Mjc0ZmQ3ZDZlMzNmNGNlMCJ9',  
  'X-CSRF-TOKEN': 'agCZKMTdcLJpgP7E2S3i4dfzdEHPhCKexnJShJs9'  
}

houseary = []
for i in range(pages):
    res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=0&searchtype=1&region=1&section=5&firstRow={}&totalRows=1565'.format(i* 30), headers = headers)
    jd = res.json()
    df = pandas.DataFrame(jd['data']['data'])
    df = df[['address', 'floor', 'allfloor', 'layout','area', 'price','browsenum_all']]
    houseary.append(df)

In [52]:
len(houseary)

53

In [55]:
# 合併多個 dataframe
housedf = pandas.concat(houseary)

In [57]:
len(housedf)

1569

In [59]:
housedf['price'] = housedf['price'].map(lambda e: int(e.replace(',','')))

In [96]:
housedf.sort_values('price', ascending = True).head(3)

,address,floor,allfloor,layout,area,price,browsenum_all,mean_price
14,仁愛路四段91巷大安區敦..,0,0,類型：平面式,2.0,1000,117,500.0
28,大安路二段★大安站4分..,0,0,類型：機械式,3.0,3000,525,1000.0
21,仁愛路四段91巷★仁愛圓環出租..,0,0,類型：平面式,8.0,3000,203,375.0

In [64]:
housedf['mean_price'] = housedf['price'] / housedf['area']

In [95]:
housedf.sort_values('mean_price', ascending = True).head(3)

,address,floor,allfloor,layout,area,price,browsenum_all,mean_price
21,仁愛路四段91巷★仁愛圓環出租..,0,0,類型：平面式,8.0,3000,203,375.000000
6,仁愛路四段408巷仁愛路延吉街..,0,0,類型：平面式,14.0,6000,133,428.571429
4,金山南路二段東門捷運旁..,0,0,類型：平面式,11.0,5000,279,454.545455

In [67]:
housedf['mean_price'].describe()

count    1569.000000
mean     1802.940471
std       711.446085
min       375.000000
25%      1333.333333
50%      1727.272727
75%      2166.666667
max      7500.000000
Name: mean_price, dtype: float64

## Pyautogui

In [68]:
import pyautogui

In [75]:
pyautogui.moveTo(574,46, 3)
pyautogui.click()
pyautogui.moveTo(390,305, 3)
pyautogui.click()

## 語音辨識

In [91]:
import requests
import json

url = "https://shwoo.gov.taipei/shwoo/NewCaptcha/playSound2?t=1584428760043"

headers = json.loads(r'''{
    "Accept": "*/*",
    "Accept-Encoding": "identity;q=1, *;q=0",
    "Accept-Language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cache-Control": "no-cache",
    "Connection": "keep-alive",
    "Cookie": "JSESSIONID=A672FD258701F4C9F6DF3F61E57A7449",
    "DNT": "1",
    "Host": "shwoo.gov.taipei",
    "Pragma": "no-cache",
    "Range": "bytes=0-",
    "Referer": "https://shwoo.gov.taipei/shwoo/home/home00/index",
    "Sec-Fetch-Dest": "audio",
    "Sec-Fetch-Mode": "no-cors",
    "Sec-Fetch-Site": "same-origin",
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36"
}''')

resp = requests.get(url,  headers=headers)
with open('shwoo.mp3', 'wb') as f:
    f.write(resp.content)

In [94]:
import speech_recognition as sr
from pydub import AudioSegment
import requests

song = AudioSegment.from_mp3('shwoo.wav')
song.export('shwoo.wav', format="wav")
with sr.AudioFile('shwoo.wav') as source:
    audio = r.listen(source)
    print(r.recognize_google(audio, language='zh_TW'))

3199

## 處理缺失值

In [97]:
import pandas as pd
import numpy  as np
df = pd.DataFrame([\
                   ['frank', 'M',    np.nan], \
                   ['mary' , np.nan, np.nan], \
                   ['tom'  , 'M',    35], \
                   ['ted'  , 'M',    33], \
                   ['jean' , np.nan, 21], \
                   ['lisa' , 'F',    20]])
df.columns = ['name', 'gender', 'age']
df

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [100]:
df['gender'].notnull()

0     True
1    False
2     True
3     True
4    False
5     True
Name: gender, dtype: bool

In [102]:
df['gender'].isnull()

0    False
1     True
2    False
3    False
4     True
5    False
Name: gender, dtype: bool

In [103]:
df['gender'].notnull().any()

True

In [104]:
df['gender'].isnull().any()

True

In [107]:
df['name'].notnull().all()

True

In [110]:
df['gender'].isnull().sum()

2

In [113]:
df.isnull().sum().sum()

4

In [114]:
df

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [115]:
df.dropna()

   name gender   age
2   tom      M  35.0
3   ted      M  33.0
5  lisa      F  20.0

In [116]:
df.dropna(how = 'all')

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [117]:
df.dropna(thresh=2)

    name gender   age
0  frank      M   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [119]:
df['employee'] = np.nan

In [122]:
df.dropna(how ='all', axis = 1)

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [124]:
df.fillna(0)

    name gender   age  employee
0  frank      M   0.0       0.0
1   mary      0   0.0       0.0
2    tom      M  35.0       0.0
3    ted      M  33.0       0.0
4   jean      0  21.0       0.0
5   lisa      F  20.0       0.0

In [126]:
df['age'].mean()

27.25

In [127]:
df['age'].fillna(df['age'].mean())

0    27.25
1    27.25
2    35.00
3    33.00
4    21.00
5    20.00
Name: age, dtype: float64

In [129]:
df.groupby('gender')['age'].mean()

gender
F    20.0
M    34.0
Name: age, dtype: float64

In [131]:
df.groupby('gender')['age'].transform('mean')

0    34.0
1     NaN
2    34.0
3    34.0
4     NaN
5    20.0
Name: age, dtype: float64

In [132]:
df.fillna(method = 'pad')

    name gender   age  employee
0  frank      M   NaN       NaN
1   mary      M   NaN       NaN
2    tom      M  35.0       NaN
3    ted      M  33.0       NaN
4   jean      M  21.0       NaN
5   lisa      F  20.0       NaN

In [133]:
df.fillna(method = 'bfill')

    name gender   age  employee
0  frank      M  35.0       NaN
1   mary      M  35.0       NaN
2    tom      M  35.0       NaN
3    ted      M  33.0       NaN
4   jean      F  21.0       NaN
5   lisa      F  20.0       NaN

In [134]:
df2 = pd.DataFrame([[1, 870],\
                    [2, 900],\
                    [np.nan, np.nan],\
                    [4, 950],\
                    [5,1080],\
                    [6,1200]])
df2.columns = ['time', 'val']
df2.interpolate()

   time     val
0   1.0   870.0
1   2.0   900.0
2   3.0   925.0
3   4.0   950.0
4   5.0  1080.0
5   6.0  1200.0

## 轉換資料

In [136]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/rent_591.csv', index_col=0)
df

HTTPError: HTTP Error 404: Not Found